body {
    background: #0b0b0f;
    color: white;
    font-family: Poppins, sans-serif;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #6c63ff;
}

.section {
    padding: 80px 0;
}

.skill-card {
    background: #111;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
    text-align: center;
}

.repo-card {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    background: #111;
    border: none;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}

footer {
    background: black;
    padding: 20px;
    text-align: center;
}
