.container-fluid {
    height: 100%;
    background-color: rgb(12, 43, 78);
}

.btn {

    background-color: rgb(12, 43, 78);
}

.color {

    background-color: rgb(12, 43, 78);
}

.height {
    height: 100px;
}

.height11 {
    height: 70px;
}

.height12 {
    height: 80px;
}

.height1 {
    height: 600px;
}

.heightt {
    height: 800px;
}

.height2 {
    height: 200px;
}

.sunicon {
    font-size: 30px;
}

.doticon {
    font-size: 60px;
    color: green;
    padding-top: 4%;
    background-color: aqua;
}

.font1 {
    font-size: 80%;
}

.padding {
    padding-top: 13%;
}

.dot {
    width: 50%;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.dotdiv {
    padding-top: 13%;
    padding-left: 15%;
}

.text1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.text12 {
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.text2 {
    font-size: 20px;
    color: grey;
    font-weight: bold;
}

.text3 {
    font-size: 60px;
    font-weight: bold;

}

.text4 {
    padding-top: 12%;
    font-size: 16px;
    color: grey;
}

.greycolor {
    color: grey;
}

.height3 {
    height: 300px;
}

.staricon {
    font-size: 50px;
    color: rgb(2, 2, 116);
}

.image {
    width: 30%;
    height: 30%;
}

.pad {
    padding-top: 10%;
    padding-left: 3%;

}

.padding1 {
    padding-left: 5%;

}